{% assign order = product.metafields.accentuate.order_video %}

{% if product.metafields.accentuate.video_url != blank %}
  <section class="Section js-section-order" id="section-{{ section.id }}" {% if order != blank %}data-order="{{ order }}"{% endif %}>
    <div class="FlexboxIeFix">
      {%- capture mobile_size -%}750x{% if product.metafields.image.image[0].height >= 960 %}960{% else %}{{ product.metafields.image.image[0].height }}{% endif %}{%- endcapture -%}

      <div class="ImageHero {% if product.metafields.accentuate.section_size != 'normal' %}ImageHero--{{ product.metafields.accentuate.section_size }}{% endif %}" {% if section.settings.image %}style="background: url({{ product.metafields.image.image[0].src }})"{% endif %}>
        <div class="ImageHero__ImageWrapper">
          <div class="ImageHero__Image Image--lazyLoad Image--zoomOut"
              data-optimumx="1.4"
              data-expand="-150"
              {% if product.metafields.image.image[0] %}data-bgset="{{ product.metafields.image.image[0].src, crop: 'center' }} 750w, {{ product.metafields.image.image[0].src }} 1000w, {{ product.metafields.image.image[0].src }} 1500w"{% endif %}>
          </div>

          <noscript>
            <div class="ImageHero__Image" style="background-image: url({{ product.metafields.image.image[0].src }})"></div>
          </noscript>

          {%- unless product.metafields.image.image[0].src != blank -%}
            <div class="PlaceholderBackground">
              {{ 'lifestyle-2' | placeholder_svg_tag: 'PlaceholderBackground__Svg PlaceholderSvg--dark' }}
            </div>
          {%- endunless -%}
        </div>

        <div class="ImageHero__ContentOverlay">
          <header class="SectionHeader">
            {%- if product.metafields.accentuate.subheading != blank -%}
              <h3 class="SectionHeader__SubHeading Heading u-h6">{{ product.metafields.accentuate.subheading | escape }}</h3>
            {%- endif -%}

            {%- if product.metafields.accentuate.heading != blank -%}
              <h2 class="SectionHeader__Heading Heading u-h1">{{ product.metafields.accentuate.heading | escape }}</h2>
            {%- endif -%}

            <div class="SectionHeader__IconHolder">
              <button type="button" class="Video__PlayButton" data-action="open-modal" aria-label="{{ 'home_page.featured_video.play' | t }}" aria-controls="modal-{{ section.id }}">{% render 'icon' with 'play' %}</button>
            </div>
          </header>
        </div>
      </div>
    </div>
  </section>

  <div id="modal-{{ section.id }}" class="Modal Modal--fullScreen Modal--videoContent" aria-hidden="true" role="dialog" data-scrollable>
    <div class="Modal__Content">
      <div class="Container Container--narrow">
        <div class="VideoWrapper">
          {% if product.metafields.accentuate.video_url contains 'youtube' %}
            <iframe class="Image--lazyLoad" data-src="//www.youtube.com/embed/{{ product.metafields.accentuate.video_url | split: '?v=' | last | split: '/' | first | split: '?' | first }}?autoplay=1&showinfo=0&controls=1&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
          {% elsif product.metafields.accentuate.video_url contains 'vimeo' %}
            <iframe class="Image--lazyLoad" data-src="//player.vimeo.com/video/{{ product.metafields.accentuate.video_url | split: 'https://vimeo.com/' | last | split: '/' | first | split: '?' | first }}?autoplay=1&portrait=0&byline=0&color={{ settings.accent_color | remove_first: '#' }}" frameborder="0"></iframe>
          {% endif %}
        </div>
      </div>
    </div>

    <button class="Modal__Close Modal__Close--outside" data-animate-bottom data-action="close-modal">{% render 'icon' with 'close' %}</button>
  </div>

  <style>
    #section-{{ section.id }},
    #section-{{ section.id }} .Heading {
      color: {{ product.metafields.accentuate.text_color }};
    }
  </style>
{% endif %}
