{%- assign section_title = product.metafields.title.title -%}
{%- assign section_bg_image = product.metafields.accentuate.background_image_for_desktop[0] -%}
{%- assign section_bg_image_mobile = product.metafields.accentuate.background_image_for_mobile[0] -%}
{%- assign section_bg_color = product.metafields.accentuate.background_color -%}

{%- assign section_cta_text = product.metafields.accentuate.call_to_action_text -%}
{%- assign section_cta_url = product.metafields.accentuate.call_to_action_url -%}

<script>
  console.log({{ section_cta_url | json }});
</script>

<section class="section-how" style="background-color: {{ section_bg_color }};">
  {%- if section_bg_image != blank -%}
    <div class="section__image {% if section_bg_image_mobile != blank %}section__image--desktop{% endif %}" style="background-image: url({{ section_bg_image.src }});"></div><!-- /.section__image -->
  {%- endif -%}

  {%- if section_bg_image_mobile != blank -%}
    <div class="section__image section__image--mobile" style="background-image: url({{ section_bg_image_mobile.src }});"></div><!-- /.section__image -->
  {%- endif -%}

  <div class="shell">
    <div class="section__inner">
      <div class="section__body">
        {%- if section_title != blank -%}
          <h2 class="section__title">{{ section_title }}</h2><!-- /.section__title -->
        {%- endif -%}

        <ol class="list-how">
          {%- for block in product.metafields.accentuate.list_item -%}
            {%- assign block_text = block.html -%}

            <li>
              <p>{{ block_text | newline_to_br }}</p>
            </li>
          {%- endfor -%}
        </ol><!-- /.list-how -->
      </div><!-- /.section__body -->

      {%- if section_cta_text != blank and section_cta_url != blank -%}
        <div class="section__actions">
          <a href="{{ section_cta_url }}" class="btn">{{ section_cta_text }}</a>
        </div><!-- /.section__actions -->
      {%- endif -%}
    </div><!-- /.section__inner -->
  </div><!-- /.shell -->
</section><!-- /.section-how -->
