{% comment %}{% section 'product-template-v2' %}{% endcomment %}

{%- render 'product-template-alt' -%}

<a id="reviews"></a>
<div class="Container v2-reviews">
  <header class="SectionHeader--center">
    <h2 class="SectionHeader__Heading Heading u-h1">Reviews</h2>
  </header>

  <div id="stamped-main-widget" class="stamped-main-widget" data-widget-style="standard" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}">{{ product.metafields.stamped.reviews }}</div>
</div>
