{%- assign section_title = product.metafields.accentuate.title -%}
{%- assign section_content = product.metafields.accentuate.content -%}
{%- assign section_cta_text = product.metafields.accentuate.button -%}
{%- assign section_cta_url = product.metafields.accentuate.button_url -%}

<section class="section-results">
  <div class="shell">
    <div class="section__inner">
      <header class="section__head">
        {%- if section_title != blank -%}
          <h2 class="section__title">{{ section_title }}</h2><!-- /.section__title -->
        {%- endif -%}

        {%- if section_content != blank -%}
          {{ section_content.html }}
        {%- endif -%}
      </header><!-- /.section__head -->

      <div class="section__body">
        <ul class="list-results">
          {%- for block in product.metafields.accentuate.images -%}
            <li>

              <script>
                console.log({{ block | json }});
              </script>

              {%- if block != blank -%}
                <img src="{{ block.src | img_url: '548x' }}" alt="{{ block.alt }}" />
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul><!-- /.list-results -->
      </div><!-- /.section__body -->

      {%- if section_cta_text != blank and section_cta_url != blank -%}
        <div class="section__actions">
          <a href="{{ section_cta_url }}" class="btn">{{ section_cta_text }}</a>
        </div><!-- /.section__actions -->
      {%- endif -%}
    </div><!-- /.section__inner -->
  </div><!-- /.shell -->
</section><!-- /.section-results -->

{% schema %}
{
  "name": "Results",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Heading copy"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA text"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA URL"
    }
  ],
  "max_blocks": 9999,
  "blocks": [
    {
      "type": "entry",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_before",
          "label": "Before",
          "info": "Recomended image size 274x418"
        },
        {
          "type": "image_picker",
          "id": "image_after",
          "label": "After",
          "info": "Recomended image size 274x418"
        }
      ]
    }
  ]
}
{% endschema %}
